# Initial Cleaning/ setup procedures

#### _1. Import libraries and set path to pkl file_

In [20]:
import pandas as pd
import os
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
pkl_loc = os.path.join(ROOT_DIR, 'data', 'data','weatherraw.pkl')
pkl_loc

'C:\\Users\\jesse\\OneDrive\\Documents\\homework\\Mich\\696\\ms2_git\\data\\data\\weatherraw.pkl'

### _2. Create dataframe and run basic eda_

In [21]:
df = pd.read_pickle(pkl_loc)
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 60577995 entries, ('04AEH', Timestamp('2022-04-23 14:00:00')) to ('ZYITU', Timestamp('2022-09-02 23:00:00'))
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   temp    float64
 1   dwpt    float64
 2   rhum    float64
 3   prcp    float64
 4   snow    float64
 5   wdir    float64
 6   wspd    float64
 7   wpgt    float64
 8   pres    float64
 9   tsun    float64
 10  coco    float64
dtypes: float64(11)
memory usage: 5.2+ GB

In [22]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.describe()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
count,60394871.000,60269186.000,60281132.000,42111852.000,0.000,55729905.000,58607827.000,0.000,46885587.000,0.000,10567003.000
mean,12.051,5.877,70.185,0.143,NaN,175.009,11.899,NaN,1016.603,NaN,4.604
std,12.117,11.645,21.331,1.040,NaN,112.365,9.091,NaN,7.607,NaN,4.062
min,-97.000,-60.500,0.000,0.000,NaN,0.000,0.000,NaN,871.900,NaN,0.000
25%,3.000,-2.700,55.000,0.000,NaN,80.000,5.400,NaN,1012.000,NaN,2.000
50%,13.300,6.800,74.000,0.000,NaN,180.000,11.200,NaN,1016.500,NaN,3.000
75%,21.700,15.900,88.000,0.000,NaN,270.000,16.600,NaN,1021.000,NaN,5.000
max,98.000,62.000,227.000,348.000,NaN,360.000,454.000,NaN,1061.000,NaN,27.000

In [23]:
df.shape

(60577995, 11)

### _3. Remove unneeded columns_

In [24]:
df.drop(columns=['snow', 'wpgt','tsun','coco'],inplace=True)
df.head()

                              temp   dwpt   rhum  prcp    wdir  wspd     pres
station time
04AEH   2022-04-23 14:00:00 10.000  0.000 50.000   NaN 200.000 7.000 1030.000
        2022-04-23 15:00:00 10.000 -1.400 45.000   NaN 170.000 6.000 1029.000
        2022-04-23 16:00:00 12.000 -0.200 43.000   NaN 190.000 7.000 1027.000
        2022-04-23 17:00:00 13.000  0.700 43.000   NaN 190.000 6.000 1027.000
        2022-04-23 18:00:00 14.000  0.600 40.000   NaN  80.000 7.000 1025.000