### Clustering to reduce features

In [1]:
import os
import pandas as pd

In [2]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
cln_pkl_loc = os.path.join(ROOT_DIR, 'data_cleaning','cleanweathersmall.pkl')

In [3]:
df = pd.read_pickle(cln_pkl_loc)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3657000 entries, 0 to 3656999
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   station  object
 1   time     datetime64[ns]
 2   temp     float64
 3   dwpt     float64
 4   rhum     float64
 5   prcp     float64
 6   wdir     float64
 7   wspd     float64
 8   pres     float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 279.0+ MB

In [4]:
df

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
0,0CNUO,2022-01-01 00:00:00,-25.1,-28.1,76.0,0.0,271.0,12.6,1020.8
1,0CNUO,2022-01-01 01:00:00,-25.7,-28.7,76.0,0.0,275.0,13.0,1021.5
2,0CNUO,2022-01-01 02:00:00,-26.2,-29.3,75.0,0.0,273.0,12.6,1022.5
3,0CNUO,2022-01-01 03:00:00,-26.1,-29.1,76.0,0.0,277.0,13.7,1022.6
4,0CNUO,2022-01-01 04:00:00,-26.5,-29.6,75.0,0.0,275.0,13.3,1023.2
...,...,...,...,...,...,...,...,...,...
3656995,ZWC6W,2022-09-22 19:00:00,8.9,-2.7,44.0,0.0,324.0,22.3,1017.3
3656996,ZWC6W,2022-09-22 20:00:00,10.3,-3.8,37.0,0.0,328.0,22.7,1017.0
3656997,ZWC6W,2022-09-22 21:00:00,9.2,-1.5,47.0,0.0,322.0,23.8,1017.7
3656998,ZWC6W,2022-09-22 22:00:00,8.9,-1.5,48.0,0.0,326.0,21.2,1018.0
3656999,ZWC6W,2022-09-22 23:00:00,8.4,-0.4,54.0,0.0,329.0,13.3,1018.0

In [5]:
df.isna().sum()

station        0
time           0
temp         513
dwpt         528
rhum         508
prcp       20428
wdir         541
wspd         533
pres         532
dtype: int64