# Initial Cleaning/ setup procedures

#### _1. Import libraries and set path to pkl file_

In [1]:
import pandas as pd
import os
from datetime import date, timedelta
import datetime
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt

ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
pkl_loc = os.path.join(ROOT_DIR, 'data', 'data','weatherraw.pkl')
pkl_loc

'C:\\Users\\jesse\\OneDrive\\Documents\\homework\\Mich\\696\\ms2_git\\data\\data\\weatherraw.pkl'

### _2. Create dataframe and run basic eda_

In [2]:
df = pd.read_pickle(pkl_loc)
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 62183652 entries, ('04AEH', Timestamp('2022-04-23 14:00:00')) to ('ZYITU', Timestamp('2022-10-01 23:00:00'))
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   temp    float64
 1   dwpt    float64
 2   rhum    float64
 3   prcp    float64
 4   snow    float64
 5   wdir    float64
 6   wspd    float64
 7   wpgt    float64
 8   pres    float64
 9   tsun    float64
 10  coco    float64
dtypes: float64(11)
memory usage: 5.4+ GB

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.describe()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
count,62000528.000,61874843.000,61886789.000,43717506.000,0.000,57335562.000,60213484.000,0.000,48491244.000,0.000,12172286.000
mean,12.225,6.041,70.187,0.143,NaN,174.077,11.839,NaN,1016.604,NaN,4.359
std,12.056,11.581,21.354,1.037,NaN,112.764,9.068,NaN,7.561,NaN,3.954
min,-97.000,-61.000,0.000,0.000,NaN,0.000,0.000,NaN,871.900,NaN,0.000
25%,3.300,-2.300,55.000,0.000,NaN,70.000,5.400,NaN,1012.100,NaN,2.000
50%,13.800,7.000,74.000,0.000,NaN,180.000,11.200,NaN,1016.500,NaN,3.000
75%,21.700,16.000,88.000,0.000,NaN,270.000,16.600,NaN,1021.000,NaN,5.000
max,98.000,60.000,227.000,348.000,NaN,360.000,454.000,NaN,1061.000,NaN,27.000

In [4]:
df.shape

(62183652, 11)

### _3. Remove unneeded columns_

In [5]:
df.drop(columns=['snow', 'wpgt','tsun','coco'],inplace=True)
df.head()

                              temp   dwpt   rhum  prcp    wdir  wspd     pres
station time
04AEH   2022-04-23 14:00:00 10.000  0.000 50.000   NaN 200.000 7.000 1030.000
        2022-04-23 15:00:00 10.000 -0.800 47.000   NaN 170.000 6.000 1029.000
        2022-04-23 16:00:00 12.000  0.700 46.000   NaN 170.000 9.000 1028.000
        2022-04-23 17:00:00 13.000 -0.600 39.000   NaN 190.000 6.000 1027.000
        2022-04-23 18:00:00 14.000  0.600 40.000   NaN  80.000 7.000 1026.000

In [6]:
df=df.reset_index()

### _4. Counting Stations_

In [7]:
df.groupby("station").count() #clearly some stations are missing

          time   temp   dwpt   rhum   prcp   wdir   wspd   pres
station
04AEH     3874   3874   3874   3874   3848   3870   3870   3874
0CC8G    10640  10640  10640  10640  10637  10640  10640  10640
0CNUO    10667  10667  10667  10667  10664  10667  10667  10667
0CO7B    10667  10667  10667  10667  10664  10667  10667  10667
0FV1F    10667  10667  10667  10667  10664  10667  10667  10667
...        ...    ...    ...    ...    ...    ...    ...    ...
ZRBBD    23350  23349  23349  23350  23349  23228  23345  23349
ZUQJS     3558   3558   3558   3558   3545   3558   3558   3547
ZWC6W    24118  24117  24117  24117  10672  24110  24118  24117
ZYC17    24063  24062  24062  24063  10673  24046  24055  24061
ZYITU     3874   3874   3874   3874   3854   3874   3874   3874

[2325 rows x 8 columns]

In [8]:
dfstations=df.groupby("station").count()
df_stationskeep = dfstations[dfstations['time']>5000].reset_index() #creating this to know which stations to keep later

In [9]:
df.time.describe()

C:\Users\jesse\AppData\Local\Temp\ipykernel_6968\1129510735.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.time.describe()

count                62183652
unique                  32880
top       2022-06-10 23:00:00
freq                     2308
first     2019-01-01 00:00:00
last      2022-10-01 23:00:00
Name: time, dtype: object

In [10]:
cln_pkl_loc = os.path.join(ROOT_DIR, 'data_cleaning','cleanweather.pkl')
df.to_pickle(cln_pkl_loc)