In [3]:
import pandas as pd
from meteostat import Stations
from datetime import datetime
import os
import pickle

In [9]:
from meteostat import Hourly

#Hourly.chunked = False


start = datetime(2022, 9, 1)
end = datetime(2022, 9, 29, 23, 59)
data = Hourly('KARB0',start=start, end=end)
data = data.fetch()

In [10]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2022-09-01 00:00:00,22.8,12.7,53.0,0.0,NaN,280.0,18.4,NaN,1013.2,NaN,1.0
2022-09-01 01:00:00,20.0,12.7,63.0,0.0,NaN,280.0,11.2,NaN,1013.7,NaN,1.0
2022-09-01 02:00:00,18.9,12.9,68.0,0.0,NaN,280.0,11.2,NaN,1014.1,NaN,1.0
2022-09-01 03:00:00,16.1,12.8,81.0,0.0,NaN,270.0,9.4,NaN,1014.3,NaN,1.0
2022-09-01 04:00:00,15.0,12.9,87.0,0.0,NaN,260.0,9.4,NaN,1014.2,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-09-29 19:00:00,15.0,5.5,53.0,0.0,NaN,140.0,7.6,NaN,1031.2,NaN,3.0
2022-09-29 20:00:00,15.6,5.5,51.0,0.0,NaN,220.0,7.6,NaN,1030.5,NaN,2.0
2022-09-29 21:00:00,16.0,5.9,51.0,0.0,NaN,70.0,7.0,NaN,1030.0,NaN,3.0
2022-09-29 22:00:00,13.0,5.4,60.0,0.0,NaN,120.0,7.0,NaN,1030.0,NaN,2.0
2022-09-29 23:00:00,9.0,5.7,80.0,0.0,NaN,206.0,0.7,NaN,1030.0,NaN,1.0

In [11]:
data.drop(columns=['snow', 'wpgt','tsun','coco'],inplace=True)

In [12]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))

data.to_pickle(r'data/weatherAASeptember.pkl')

In [33]:
data.isna().sum()

temp      0
dwpt      0
rhum      0
prcp      0
snow    696
wdir      0
wspd      0
wpgt    696
pres      0
tsun    696
coco      0
dtype: int64

In [39]:
data.reset_index(inplace=True)
data['timediff']=data['time'].diff(periods=1) #difference for hours
data['timediff']=data['timediff']/pd.Timedelta(hours=1) #converted to hour int

In [41]:
data[data['timediff']>1]

Empty DataFrame
Columns: [time, temp, dwpt, rhum, prcp, snow, wdir, wspd, wpgt, pres, tsun, coco, timediff]
Index: []