In [3]:
import pandas as pd
from meteostat import Stations
from datetime import datetime
import os
import pickle

In [13]:
from meteostat import Hourly

#Hourly.chunked = False


start = datetime(2022, 9, 1)
end = datetime(2022, 10, 15, 23, 59)
data = Hourly('KARB0',start=start, end=end)
data = data.fetch()

Warning: Cannot load hourly/2023/KARB0.csv.gz from https://bulk.meteostat.net/v2/

In [14]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2022-09-01 00:00:00,22.8,12.7,53.0,0.0,NaN,280.0,18.4,NaN,1013.2,NaN,1.0
2022-09-01 01:00:00,20.0,12.7,63.0,0.0,NaN,280.0,11.2,NaN,1013.7,NaN,1.0
2022-09-01 02:00:00,18.9,12.9,68.0,0.0,NaN,280.0,11.2,NaN,1014.1,NaN,1.0
2022-09-01 03:00:00,16.1,12.8,81.0,0.0,NaN,270.0,9.4,NaN,1014.3,NaN,1.0
2022-09-01 04:00:00,15.0,12.9,87.0,0.0,NaN,260.0,9.4,NaN,1014.2,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-15 19:00:00,11.1,-0.1,46.0,0.0,NaN,210.0,24.1,NaN,1013.2,NaN,3.0
2022-10-15 20:00:00,11.1,-0.1,46.0,0.0,NaN,220.0,24.1,NaN,1013.7,NaN,3.0
2022-10-15 21:00:00,10.0,-0.5,48.0,0.0,NaN,220.0,20.5,NaN,1013.8,NaN,3.0
2022-10-15 22:00:00,8.0,-1.3,52.0,0.0,NaN,220.0,9.0,NaN,1014.0,NaN,2.0
2022-10-15 23:00:00,6.1,-1.1,60.0,0.0,NaN,190.0,7.6,NaN,1014.3,NaN,1.0

In [15]:
data.drop(columns=['snow', 'wpgt','tsun','coco'],inplace=True)

In [16]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))

data.to_pickle(r'data/weatherAAtest.pkl')

In [17]:
data.isna().sum()

temp    0
dwpt    0
rhum    0
prcp    0
wdir    0
wspd    0
pres    0
dtype: int64

In [39]:
data.reset_index(inplace=True)
data['timediff']=data['time'].diff(periods=1) #difference for hours
data['timediff']=data['timediff']/pd.Timedelta(hours=1) #converted to hour int

In [41]:
data[data['timediff']>1]

Empty DataFrame
Columns: [time, temp, dwpt, rhum, prcp, snow, wdir, wspd, wpgt, pres, tsun, coco, timediff]
Index: []