In [1]:
import pandas as pd
from meteostat import Stations
import os

In [2]:
from meteostat import Hourly

Hourly.chunked = False

data = Hourly('KARB0')
data = data.fetch()

In [3]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2006-01-01 00:00:00,1.0,-1.1,86.0,NaN,NaN,240.0,14.8,NaN,NaN,NaN,NaN
2006-01-01 01:00:00,1.1,-0.1,92.0,0.0,NaN,240.0,14.8,NaN,1009.0,NaN,NaN
2006-01-01 02:00:00,0.6,0.0,96.0,NaN,NaN,250.0,13.0,NaN,1009.5,NaN,NaN
2006-01-01 03:00:00,1.1,-0.1,92.0,NaN,NaN,250.0,13.0,NaN,1009.6,NaN,NaN
2006-01-01 04:00:00,1.1,-0.7,88.0,NaN,NaN,250.0,14.8,NaN,1010.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06 00:00:00,13.7,5.1,56.0,NaN,NaN,127.0,8.3,NaN,1022.5,NaN,NaN
2022-10-06 06:00:00,8.8,7.2,90.0,NaN,NaN,245.0,8.3,NaN,1023.3,NaN,NaN
2022-10-06 12:00:00,7.6,6.4,92.0,NaN,NaN,272.0,6.5,NaN,1024.6,NaN,NaN
2022-10-06 18:00:00,20.4,8.7,47.0,NaN,NaN,215.0,5.0,NaN,1023.6,NaN,NaN
2022-10-07 00:00:00,14.9,8.8,67.0,NaN,NaN,188.0,7.2,NaN,1022.1,NaN,NaN

In [4]:
data['Timestamp'] = data.index
data['Year']       = data['Timestamp'].astype('M8[Y]')
data['DayOfYear']  = (data['Timestamp'] - data['Year']).astype('timedelta64[D]')
data['Hour']       = data['Timestamp'].dt.hour + 1
data['HourOfYear'] = data['DayOfYear'] * 24 + data['Hour']
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,Timestamp,Year,DayOfYear,Hour,HourOfYear
time,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,1.0,-1.1,86.0,NaN,NaN,240.0,14.8,NaN,NaN,NaN,NaN,2006-01-01 00:00:00,2006-01-01,0.0,1,1.0
2006-01-01 01:00:00,1.1,-0.1,92.0,0.0,NaN,240.0,14.8,NaN,1009.0,NaN,NaN,2006-01-01 01:00:00,2006-01-01,0.0,2,2.0
2006-01-01 02:00:00,0.6,0.0,96.0,NaN,NaN,250.0,13.0,NaN,1009.5,NaN,NaN,2006-01-01 02:00:00,2006-01-01,0.0,3,3.0
2006-01-01 03:00:00,1.1,-0.1,92.0,NaN,NaN,250.0,13.0,NaN,1009.6,NaN,NaN,2006-01-01 03:00:00,2006-01-01,0.0,4,4.0
2006-01-01 04:00:00,1.1,-0.7,88.0,NaN,NaN,250.0,14.8,NaN,1010.5,NaN,NaN,2006-01-01 04:00:00,2006-01-01,0.0,5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-06 00:00:00,13.7,5.1,56.0,NaN,NaN,127.0,8.3,NaN,1022.5,NaN,NaN,2022-10-06 00:00:00,2022-01-01,278.0,1,6673.0
2022-10-06 06:00:00,8.8,7.2,90.0,NaN,NaN,245.0,8.3,NaN,1023.3,NaN,NaN,2022-10-06 06:00:00,2022-01-01,278.0,7,6679.0
2022-10-06 12:00:00,7.6,6.4,92.0,NaN,NaN,272.0,6.5,NaN,1024.6,NaN,NaN,2022-10-06 12:00:00,2022-01-01,278.0,13,6685.0
2022-10-06 18:00:00,20.4,8.7,47.0,NaN,NaN,215.0,5.0,NaN,1023.6,NaN,NaN,2022-10-06 18:00:00,2022-01-01,278.0,19,6691.0
2022-10-07 00:00:00,14.9,8.8,67.0,NaN,NaN,188.0,7.2,NaN,1022.1,NaN,NaN,2022-10-07 00:00:00,2022-01-01,279.0,1,6697.0

In [5]:
all_time_avg_hr = data.groupby('HourOfYear',as_index=False).mean()
all_time_avg_hr.drop(columns=['snow', 'wpgt', 'tsun', 'coco', 'DayOfYear', 'Hour'],inplace=True)
all_time_avg_hr.columns = ['HourOfYear', 'ATAhr-temp', 'ATAhr-dwpt', 'ATAhr-rhum', 'ATAhr-prcp', 'ATAhr-wdir', 'ATAhr-wspd', 'ATAhr-pres']
all_time_avg_hr

,HourOfYear,ATAhr-temp,ATAhr-dwpt,ATAhr-rhum,ATAhr-prcp,ATAhr-wdir,ATAhr-wspd,ATAhr-pres
0,1.0,0.475000,-0.800000,91.250000,0.000000,140.000000,13.066667,1005.000000
1,2.0,-1.011765,-4.276471,79.117647,0.473333,212.857143,12.041176,1016.131250
2,3.0,-1.394118,-4.464706,80.176471,0.235714,215.714286,11.341176,1015.629412
3,4.0,-1.664706,-4.594118,81.000000,0.000000,203.750000,13.523529,1015.564706
4,5.0,-2.023529,-4.741176,82.176471,0.000000,208.125000,14.370588,1015.717647
...,...,...,...,...,...,...,...,...
8779,8780.0,0.550000,-7.275000,56.750000,0.000000,272.500000,22.775000,1016.775000
8780,8781.0,0.275000,-7.175000,58.000000,0.000000,252.500000,20.425000,1016.975000
8781,8782.0,0.125000,-6.950000,59.500000,0.000000,257.500000,18.550000,1017.525000
8782,8783.0,-0.700000,-7.100000,62.250000,0.000000,257.500000,20.900000,1017.975000
8783,8784.0,-1.950000,-7.025000,68.500000,0.000000,267.500000,17.925000,1018.875000

In [6]:
all_time_avg_day = data.groupby('DayOfYear',as_index=False).mean()
all_time_avg_day.drop(columns=['snow', 'wpgt', 'tsun', 'coco', 'HourOfYear', 'Hour'],inplace=True)
all_time_avg_day.columns = ['DayOfYear', 'ATAday-temp', 'ATAday-dwpt', 'ATAday-rhum', 'ATAday-prcp', 'ATAday-wdir', 'ATAday-wspd', 'ATAday-pres']
all_time_avg_day

,DayOfYear,ATAday-temp,ATAday-dwpt,ATAday-rhum,ATAday-prcp,ATAday-wdir,ATAday-wspd,ATAday-pres
0,0.0,-2.214937,-5.633418,78.324051,0.089164,211.805930,15.509391,1016.603158
1,1.0,-3.682598,-7.382353,76.468137,0.051515,211.377551,15.568305,1018.979753
2,2.0,-4.670343,-8.135294,77.551471,0.084511,211.880829,12.832353,1019.964286
3,3.0,-2.627179,-6.386923,75.933333,0.018237,231.735751,15.712051,1017.083289
4,4.0,-3.442506,-6.983292,77.137592,0.121321,241.250000,13.545209,1016.911959
...,...,...,...,...,...,...,...,...
361,361.0,-0.942708,-4.149740,79.393229,0.049363,212.647887,14.802887,1018.089737
362,362.0,-1.147917,-4.124740,81.005208,0.135015,210.262391,13.640885,1017.504545
363,363.0,-1.946615,-5.254948,78.968750,0.090741,208.764706,11.920052,1018.367553
364,364.0,-1.479427,-4.696875,79.611979,0.110616,218.038674,14.206771,1017.002394
365,365.0,-2.358333,-7.440625,69.062500,0.003659,239.791667,18.472917,1015.713684

In [7]:
data_last_5 = data[data['Year'].dt.year>2017]
last_5_avg_hr = data_last_5.groupby('HourOfYear',as_index=False).mean()
last_5_avg_hr.drop(columns=['snow', 'wpgt', 'tsun', 'coco', 'DayOfYear', 'Hour'],inplace=True)
last_5_avg_hr.columns = ['HourOfYear', 'L5Ahr-temp', 'L5Ahr-dwpt', 'L5Ahr-rhum', 'L5Ahr-prcp', 'ATAhr-wdir', 'L5Ahr-wspd', 'L5Ahr-pres']
last_5_avg_hr

,HourOfYear,L5Ahr-temp,L5Ahr-dwpt,L5Ahr-rhum,L5Ahr-prcp,ATAhr-wdir,L5Ahr-wspd,L5Ahr-pres
0,1.0,0.30,-0.70,93.0,0.000,90.000000,12.20,1005.00
1,2.0,-3.24,-5.60,83.8,0.125,123.333333,7.06,1016.60
2,3.0,-3.66,-5.76,85.2,0.375,123.333333,6.26,1014.82
3,4.0,-4.10,-5.88,87.2,0.000,117.500000,8.56,1014.78
4,5.0,-4.32,-5.78,89.6,0.000,150.000000,10.66,1015.28
...,...,...,...,...,...,...,...,...
8779,8780.0,-1.10,-8.30,58.0,0.000,300.000000,11.20,1026.30
8780,8781.0,-1.10,-8.30,58.0,0.000,210.000000,5.40,1026.50
8781,8782.0,-1.10,-7.90,60.0,0.000,260.000000,7.60,1026.50
8782,8783.0,-2.20,-8.30,63.0,0.000,210.000000,7.60,1027.30
8783,8784.0,-5.00,-8.20,78.0,0.000,220.000000,5.40,1028.20

In [8]:
last_5_avg_day = data_last_5.groupby('DayOfYear',as_index=False).mean()
last_5_avg_day.drop(columns=['snow', 'wpgt', 'tsun', 'coco', 'HourOfYear', 'Hour'],inplace=True)
last_5_avg_day.columns = ['DayOfYear', 'L5Aday-temp', 'L5Aday-dwpt', 'L5Aday-rhum', 'L5Aday-prcp', 'L5Aday-wdir', 'L5Aday-wspd', 'L5Aday-pres']
last_5_avg_day

,DayOfYear,L5Aday-temp,L5Aday-dwpt,L5Aday-rhum,L5Aday-prcp,L5Aday-wdir,L5Aday-wspd,L5Aday-pres
0,0.0,-3.288983,-5.804237,83.152542,0.060952,171.171171,12.634188,1017.743860
1,1.0,-3.407500,-6.185000,81.850000,0.086957,183.389831,12.994167,1018.110084
2,2.0,-3.948333,-6.927500,80.333333,0.059434,179.383333,11.360000,1017.025000
3,3.0,-2.860000,-6.244167,78.050000,0.000000,244.576271,12.372500,1016.362712
4,4.0,-3.745000,-7.722500,74.691667,0.010084,232.500000,13.767500,1013.643697
...,...,...,...,...,...,...,...,...
361,361.0,2.036458,-0.688542,82.437500,0.065517,178.681319,11.850000,1014.477083
362,362.0,1.779167,-0.615625,84.541667,0.318667,188.191489,13.788542,1014.159140
363,363.0,-0.138542,-3.550000,78.385417,0.266667,169.148936,13.303125,1016.103158
364,364.0,0.371875,-1.941667,84.864583,0.336923,168.571429,14.516667,1011.095833
365,365.0,-1.258333,-6.633333,67.000000,0.000000,293.333333,14.762500,1021.029167

In [21]:
aa_historical = data.merge(all_time_avg_hr,on='HourOfYear',how='left')
aa_historical = aa_historical.merge(last_5_avg_hr,on='HourOfYear',how='left')
aa_historical = aa_historical.merge(all_time_avg_day,on='DayOfYear',how='left')
aa_historical = aa_historical.merge(last_5_avg_day,on='DayOfYear',how='left')
aa_historical = aa_historical.set_index("Timestamp")

In [23]:
aa_historical.to_pickle('data/aa_historical.pkl')