### Clustering to reduce features

In [153]:
import os
import pandas as pd
from datetime import datetime, timedelta
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
from sklearn.metrics.cluster import silhouette_score

In [175]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
cln_pkl_loc = os.path.join(ROOT_DIR, 'data','cleanweathersmall.pkl')

In [176]:
df = pd.read_pickle(cln_pkl_loc)
df.groupby('station').count()

         time  temp  dwpt  rhum  prcp  wdir  wspd  pres
station
0CNUO    8784  8784  8784  8784  8784  8784  8784  8784
0CO7B    8784  8784  8784  8784  8784  8784  8784  8784
0FV1F    8784  8784  8784  8784  8784  8784  8784  8784
1J1PJ    8784  8784  8784  8784  8784  8784  8784  8784
1JWST    8784  8784  8784  8784  8784  8784  8784  8784
...       ...   ...   ...   ...   ...   ...   ...   ...
V5792    8784  8784  8784  8784  8784  8784  8784  8784
VMWBN    8784  8784  8784  8784  8784  8784  8784  8784
XM44W    8784  8784  8784  8784  8784  8784  8784  8784
ZFZUV    8784  8784  8784  8784  8784  8784  8784  8784
ZWC6W    8784  8784  8784  8784  8784  8784  8784  8784

[897 rows x 8 columns]

### 1. shifting time by 24 hours for Ann Arbor

In [177]:
df_AA=df[df['station']=="KARB0"] #spliting off AA so I don't adjust its time.

In [178]:
df_AA

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
2485872,KARB0,2021-10-15 00:00:00,17.8,16.7,93.0,0.0,230.0,5.4,1012.2
2485873,KARB0,2021-10-15 01:00:00,17.2,15.5,90.0,0.0,260.0,7.6,1012.7
2485874,KARB0,2021-10-15 02:00:00,16.1,14.5,90.0,0.0,0.0,0.0,1012.9
2485875,KARB0,2021-10-15 03:00:00,16.7,14.3,86.0,0.0,350.0,9.4,1012.5
2485876,KARB0,2021-10-15 04:00:00,16.1,15.0,93.0,0.0,220.0,7.6,1013.2
...,...,...,...,...,...,...,...,...,...
2494651,KARB0,2022-10-15 19:00:00,11.1,-0.1,46.0,0.0,210.0,24.1,1013.2
2494652,KARB0,2022-10-15 20:00:00,11.1,-0.1,46.0,0.0,220.0,24.1,1013.7
2494653,KARB0,2022-10-15 21:00:00,10.0,-0.5,48.0,0.0,220.0,20.5,1013.8
2494654,KARB0,2022-10-15 22:00:00,8.0,-1.3,52.0,0.0,220.0,9.0,1014.0
2494655,KARB0,2022-10-15 23:00:00,6.1,-1.1,60.0,0.0,190.0,7.6,1014.3

In [179]:
df_NOAA=df[df['station']!="KARB0"]

In [180]:
df_NOAA['time']=df_NOAA['time']+timedelta(hours=24) #adds 24

C:\Users\paull\AppData\Local\Temp\ipykernel_32892\4277429291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NOAA['time']=df_NOAA['time']+timedelta(hours=24) #adds 24

In [181]:
df_AA

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
2485872,KARB0,2021-10-15 00:00:00,17.8,16.7,93.0,0.0,230.0,5.4,1012.2
2485873,KARB0,2021-10-15 01:00:00,17.2,15.5,90.0,0.0,260.0,7.6,1012.7
2485874,KARB0,2021-10-15 02:00:00,16.1,14.5,90.0,0.0,0.0,0.0,1012.9
2485875,KARB0,2021-10-15 03:00:00,16.7,14.3,86.0,0.0,350.0,9.4,1012.5
2485876,KARB0,2021-10-15 04:00:00,16.1,15.0,93.0,0.0,220.0,7.6,1013.2
...,...,...,...,...,...,...,...,...,...
2494651,KARB0,2022-10-15 19:00:00,11.1,-0.1,46.0,0.0,210.0,24.1,1013.2
2494652,KARB0,2022-10-15 20:00:00,11.1,-0.1,46.0,0.0,220.0,24.1,1013.7
2494653,KARB0,2022-10-15 21:00:00,10.0,-0.5,48.0,0.0,220.0,20.5,1013.8
2494654,KARB0,2022-10-15 22:00:00,8.0,-1.3,52.0,0.0,220.0,9.0,1014.0
2494655,KARB0,2022-10-15 23:00:00,6.1,-1.1,60.0,0.0,190.0,7.6,1014.3

In [186]:
#removing first day and last day 
#(manual current but could be automated)
df_AA24HR=pd.concat([df_AA,df_NOAA])
df_AA24HR=df_AA24HR[(df_AA24HR['time']>='2021-10-16 00:00:00') & (df_AA24HR['time']<='2022-10-14 23:00:00')]

In [187]:
#droping extra columns that we have determined are not part of the model
df_AA24HR.drop(columns=['prcp','wdir','wspd'], inplace=True)

### 2. Clustering

In [198]:
#Scaling all values for kmeans - normalizing columns

scaler = StandardScaler() #read that standard scaler is probably best for knn vs min/max (first attempt)
scaler.fit(df_AA24HR.iloc[:,2:])
scaled=scaler.fit_transform(df_AA24HR.iloc[:,2:])
scaled_df=pd.DataFrame(scaled, columns = df_AA24HR.iloc[:2,2:].columns)
#normalized = preprocessing.normalize(df_AA24HR.iloc[:,2:9])
#normalized
#testknn=df_AA24HR[df_AA24HR['time']=='2022-01-02 1:00:00']
scaled_df=df_AA24HR.iloc[:,0:2].merge(scaled_df, left_index=True, right_index=True)


#testing
#scaled_df=scaled_df[scaled_df['time']<='2022-03-30 00:00:00']

In [199]:
#creating a results DF
result_df=pd.DataFrame(scaled_df.station.unique(), columns=['station'])
result_df['total']=0
result_df

    station  total
0     KARB0      0
1     0CNUO      0
2     0CO7B      0
3     0FV1F      0
4     1J1PJ      0
..      ...    ...
888   QHA0T      0
889   SJZBK      0
890   UJHR7      0
891   UV7W2      0
892   V5792      0

[893 rows x 2 columns]

In [200]:
station_loc = os.path.join(ROOT_DIR, 'station_analysis','AAstation.csv') #station data to get distance for comparision
dfstations=pd.read_csv(station_loc)

In [201]:
scaled_df.groupby('station').count()

         time  temp  dwpt  rhum  pres
station
0CNUO    8736  8736  8736  8736  8736
0CO7B    8736  8736  8736  8736  8736
0FV1F    8736  8736  8736  8736  8736
1J1PJ    8736  8736  8736  8736  8736
1JWST    8736  8736  8736  8736  8736
...       ...   ...   ...   ...   ...
QHA0T    8736  8736  8736  8736  8736
SJZBK    8736  8736  8736  8736  8736
UJHR7    8736  8736  8736  8736  8736
UV7W2    8736  8736  8736  8736  8736
V5792     864   864   864   864   864

[893 rows x 5 columns]

In [ ]:
#the actual kmeans
knn = KMeans(n_clusters=4) #need to tune this value and try other clustering (hierarchical) to find stable values
for t in tqdm(scaled_df.time.unique()): #looping through every hour
    dfhour=scaled_df[scaled_df['time']==t].copy()
    knndata=dfhour.iloc[:,2:]
    #print(t)
    knn.fit(knndata)
    y_kmeans = knn.predict(knndata)
    dfhour['cluster']=y_kmeans #finding clusters
    AAcluster=dfhour.loc[dfhour.station=='KARB0','cluster'].values[0] #finding cluster AA is in
    df_resulthr=dfhour[dfhour['cluster']==AAcluster].copy()
    df_resulthr['total']=1 #setting a threshold
    result_df=pd.concat([result_df, df_resulthr[['station','total']]]).groupby(['station']).sum().reset_index() #joining back to my results df.  I wasn't sure how else to do this.  
result_df

 99%|█████████▉| 8688/8736 [16:42<00:05,  8.96it/s]

In [197]:

    #result_df.sort_values(by='total',ascending=False).head(60)
result=pd.merge(result_df,dfstations,left_on='station', right_on='id').sort_values(by='total',ascending=False) #top 20 locations (top will be AA)
result.head(50)
#result.to_csv('kmeansclustering.csv')

,station,total,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat
206,KARB0,17472,KARB0,Ann Arbor / Pittsfield,US,MI,NaN,KARB,42.2230,-83.7456,256.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,0.000000
416,KMML0,12831,KMML0,Marshall,US,MN,NaN,KMML,44.4517,-95.8244,361.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2008-01-01,2022-01-01,627.132888
325,KGAF0,10708,KGAF0,Grafton,US,ND,NaN,KGAF,48.4047,-97.3709,251.0,America/Chicago,2010-11-18,2022-09-22,2010-11-19,2022-04-24,2014-01-01,2022-01-01,787.526654
323,KFSW0,10669,KFSW0,Fort Madison / Summit (Historical),US,IA,NaN,KFSW,40.6593,-91.3268,220.0,America/Chicago,2006-01-03,2022-09-22,2006-01-05,2022-04-24,2014-01-01,2021-01-01,408.045768
208,KARV0,10659,KARV0,Minocqua / Woodruff,US,WI,NaN,KARV,45.9279,-89.7309,497.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2009-01-01,2022-01-01,392.465081
422,KMQB0,10584,KMQB0,Macomb / Good Hope,US,IL,NaN,KMQB,40.5201,-90.6524,215.0,America/Chicago,2006-02-01,2022-09-22,2006-02-15,2022-04-24,2012-01-01,2022-01-01,377.657133
418,KMNN0,10562,KMNN0,Marion / Logan (Historical),US,OH,NaN,KMNN,40.6163,-83.0635,303.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-21,2006-01-01,2022-01-01,116.402149
524,KTVC0,10532,KTVC0,Traverse City / Treverse City [Misspelling] / ...,US,MI,NaN,KTVC,44.7416,-85.5824,190.0,America/Detroit,1973-01-01,2022-09-22,1973-01-02,2022-04-24,1981-01-01,2022-01-01,196.855534
520,KTNU0,10526,KTNU0,Newton / Coal Siding (Historical),US,IA,NaN,KTNU,41.6744,-93.0217,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,479.185382
85,72420,10415,72420,Mansfield / Amoy,US,OH,72420.0,KMFD,40.8214,-82.5166,395.0,America/New_York,2005-01-01,2022-09-22,1948-08-01,2022-09-14,1948-01-01,2022-01-01,115.837645
523,KTTF0,10377,KTTF0,Monroe / Patterson Gardens,US,MI,NaN,KTTF,41.9399,-83.4347,188.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2006-01-01,2022-01-01,25.244797
330,KGHW0,10322,KGHW0,Glenwood / Pine Hill Park,US,MN,NaN,KGHW,45.6439,-95.3204,425.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-15,2006-01-01,2022-01-01,623.196988
526,KTYQ0,10318,KTYQ0,Indianapolis / Jolietville,US,IN,NaN,KTYQ,40.0307,-86.2514,281.0,America/Indiana/Indianapolis,2014-01-01,2022-09-22,2014-01-01,2022-04-25,2014-01-01,2022-01-01,199.936127
204,KAOH0,10302,KAOH0,Lima / Eastwood Estates,US,OH,NaN,KAOH,40.7075,-84.0271,297.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,105.602314
518,KTKC0,10264,KTKC0,Tracy,US,MN,NaN,KTKC,44.2491,-95.6073,408.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-01,2008-01-01,2022-01-01,614.213630
517,KTEW0,10022,KTEW0,Mason,US,MI,NaN,KTEW,42.5658,-84.4232,280.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2007-01-01,2022-01-01,41.971948
326,KGDB0,9964,KGDB0,Granite Falls / Lorne,US,MN,NaN,KGDB,44.7533,-95.5560,319.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-24,2006-01-01,2022-01-01,618.157832
324,KFXY0,9866,KFXY0,Forest City,US,IA,NaN,KFXY,43.2348,-93.6241,375.0,America/Chicago,2009-07-14,2022-09-22,2009-07-16,2022-04-24,2015-01-01,2022-01-01,507.231712
212,KATY0,9848,KATY0,Watertown,US,SD,NaN,KATY,44.9140,-97.1547,533.0,America/Chicago,1948-01-01,2022-09-22,1948-01-24,2022-04-24,1948-01-01,2022-01-01,697.344181
413,KMJQ0,9765,KMJQ0,Jackson,US,MN,NaN,KMJQ,43.6500,-94.9865,441.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,578.106956
414,KMKT0,9750,KMKT0,Mankato / Knollwood Park,US,MN,NaN,KMKT,44.2228,-93.9193,311.0,America/Menominee,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,531.437363
215,KAWG0,9724,KAWG0,Washington,US,IA,NaN,KAWG,41.2750,-91.6752,230.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2014-01-01,2022-01-01,414.855204
322,KFSE0,9709,KFSE0,Fosston,US,MN,NaN,KFSE,47.5928,-95.7735,390.0,America/Chicago,2006-01-01,2022-09-14,2006-01-01,2022-04-24,2007-01-01,2022-01-01,695.849626
528,KUCP0,9629,KUCP0,New Castle / Parkstown,US,PA,NaN,KUCP,41.0254,-80.4134,326.0,America/New_York,2006-05-01,2022-09-22,2006-05-02,2022-04-24,2008-01-01,2022-01-01,191.304730
419,KMOP0,9574,KMOP0,Mt Pleasant / Broadway Acres Mobile Home Park,US,MI,NaN,KMOP,43.6216,-84.7373,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,108.863740
201,KAMW0,9535,KAMW0,Ames / Old Orchard Mobile Home Park,US,IA,NaN,KAMW,41.9921,-93.6218,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,507.546487
202,KANQ0,9515,KANQ0,Angola / Flint,US,IN,NaN,KANQ,41.6397,-85.0835,303.0,America/Indiana/Indianapolis,2020-01-14,2022-09-22,2020-01-14,2022-04-24,2020-01-01,2022-01-01,79.841140
327,KGFK0,9464,KGFK0,Grand Forks / Powell,US,ND,NaN,KGFK,47.9473,-97.1738,257.0,America/Chicago,2010-08-01,2022-09-22,2010-08-01,2022-04-24,2010-01-01,2022-01-01,765.085329
320,KFPK0,9391,KFPK0,Charlotte / Meadows Mobile Home Park,US,MI,NaN,KFPK,42.5745,-84.8114,272.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,59.678156
200,KAMN0,9337,KAMN0,Alma / Eugene,US,MI,NaN,KAMN,43.3221,-84.6879,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,89.732372
319,KFOZ0,9298,KFOZ0,Bigfork,US,MN,NaN,KFOZ,47.7828,-93.6502,412.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,617.913480
415,KMLE0,9291,KMLE0,Omaha / Millard,US,NE,NaN,KMLE,41.1960,-96.1123,320.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,642.877659
210,KASX0,9283,KASX0,Ashland / Ashland Junction,US,WI,NaN,KASX,46.5485,-90.9190,252.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,463.723705
83,72019,9173,72019,Munsing Lakeshore,US,MI,72019.0,KP53,46.4167,-86.6500,187.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,323.315162
321,KFRM0,9170,KFRM0,Fairmont / Fairmont Estates,US,MN,NaN,KFRM,43.6439,-94.4156,354.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,549.611531
521,KTOB0,9127,KTOB0,Dodge Center,US,MN,NaN,KTOB,44.0180,-92.8315,398.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-03-30,2007-01-01,2022-01-01,475.588721
214,KAUM0,9076,KAUM0,Austin,US,MN,NaN,KAUM,43.6626,-92.9329,376.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,476.135931
410,KMIC0,9068,KMIC0,Minneapolis / Brooklyn Center,US,MN,NaN,KMIC,45.0620,-93.3539,265.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,519.649109
525,KTWM0,9061,KTWM0,Two Harbors / Waldo,US,MN,NaN,KTWM,47.0491,-91.7452,327.0,America/Chicago,2006-01-01,2022-09-22,2006-01-03,2022-04-24,2007-01-01,2021-01-01,515.861691
426,KMUT0,9040,KMUT0,Muscatine / Fruitland,US,IA,NaN,KMUT,41.3678,-91.1482,167.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,386.712501
533,KUSE0,9027,KUSE0,Wauseon / Ottokee,US,OH,NaN,KUSE,41.6101,-84.1272,238.0,America/New_York,2020-01-14,2022-09-22,2020-01-14,2022-04-25,2020-01-01,2022-01-01,46.650275
421,KMPZ0,8940,KMPZ0,Mount Pleasant / Woodside Mobile Estates,US,IA,NaN,KMPZ,40.9466,-91.5111,223.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2015-01-01,2022-01-01,411.734003
417,KMNM0,8878,KMNM0,Menominee / Bayside Mobile Estates,US,MI,NaN,KMNM,45.1267,-87.6384,191.0,America/Chicago,2005-01-01,2022-09-22,2005-01-01,2022-04-24,2005-01-01,2022-01-01,279.641553
199,KAKR0,8865,KAKR0,Akron / Derby Downs,US,OH,NaN,KAKR,41.0375,-81.4669,325.0,America/New_York,1999-08-31,2022-09-22,1999-09-02,2022-04-24,2005-01-01,2022-01-01,143.569088
530,KUGN0,8859,KUGN0,Chicago / Bancroft Corners,US,IL,NaN,KUGN,42.4222,-87.8679,222.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,211.571367
197,KAIO0,8858,KAIO0,Atlantic,US,IA,NaN,KAIO,41.4038,-95.0487,355.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2015-01-01,2022-01-01,585.888554
412,KMIW0,8836,KMIW0,Marshalltown / Maulsby,US,IA,NaN,KMIW,42.1127,-92.9178,297.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,470.786167
328,KGGI0,8829,KGGI0,Grinnel / Westfield,US,IA,NaN,KGGI,41.7099,-92.7360,307.0,America/Chicago,2006-08-31,2022-09-22,2006-09-03,2022-04-24,2011-01-01,2022-01-01,464.213223
218,KAXV0,8769,KAXV0,Wapakoneta / New Knoxville,US,OH,NaN,KAXV,40.4936,-84.2981,278.0,America/New_York,2020-01-14,2022-09-22,2020-01-14,2022-04-24,2020-01-01,2022-01-01,122.753787
420,KMOX0,8755,KMOX0,Morris,US,MN,NaN,KMOX,45.5660,-95.9672,346.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,651.540962

In [142]:
knn = KMeans(n_clusters=8)
dfhour=scaled_df[scaled_df['time']=='2022-08-30 10:00:00'].copy()
knndata=dfhour.iloc[:,2:]
knn.fit(knndata)
clusters=knn.labels_
silhouette_score(knndata, clusters)

0.28413939677617917

In [151]:
result

,station,total,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat
206,KARB0,12672,KARB0,Ann Arbor / Pittsfield,US,MI,NaN,KARB,42.2230,-83.7456,256.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,0.000000
208,KARV0,7484,KARV0,Minocqua / Woodruff,US,WI,NaN,KARV,45.9279,-89.7309,497.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2009-01-01,2022-01-01,392.465081
472,KPNT0,7310,KPNT0,Pontiac / Cayuga,US,IL,NaN,KPNT,40.9244,-88.6239,203.0,America/Chicago,2006-09-26,2022-09-22,2011-03-18,2022-04-24,2015-01-01,2022-01-01,268.175428
471,KPNM0,7166,KPNM0,Princeton / Princetown [Misspelling],US,MN,NaN,KPNM,45.5599,-93.6082,299.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,543.149574
470,KPMV0,6991,KPMV0,Plattsmouth / Mynard,US,NE,NaN,KPMV,40.9484,-95.9174,367.0,America/Chicago,2006-11-21,2022-09-22,2006-11-22,2022-04-24,2009-01-01,2022-01-01,636.208367
207,KARR0,6625,KARR0,Aurora / Sugar Grove,US,IL,NaN,KARR,41.7719,-88.4757,217.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,245.469652
205,KAQP0,6345,KAQP0,Appleton,US,MN,NaN,KAQP,45.2275,-96.0043,311.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,647.081592
469,KPLN0,6289,KPLN0,Pellston,US,MI,NaN,KPLN,45.5709,-84.7967,220.0,America/Detroit,1973-01-01,2022-09-22,1973-01-01,2022-04-24,2000-01-01,2021-01-01,237.016818
202,KANQ0,6010,KANQ0,Angola / Flint,US,IN,NaN,KANQ,41.6397,-85.0835,303.0,America/Indiana/Indianapolis,2020-01-14,2022-09-22,2020-01-14,2022-04-24,2020-01-01,2022-01-01,79.841140
219,KAZO0,5909,KAZO0,Kalamazoo / Colonial Acres Mobile Home Park,US,MI,NaN,KAZO,42.2344,-85.5516,266.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,92.642774
209,KASW0,5855,KASW0,Warsaw / Monoquet,US,IN,NaN,KASW,41.2747,-85.8401,259.0,America/Indiana/Indianapolis,2006-10-28,2022-09-22,2009-09-05,2022-04-24,2013-01-01,2022-01-01,126.490533
213,KAUH0,5807,KAUH0,Aurora,US,NE,NaN,KAUH,40.8941,-97.9946,550.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,743.384811
478,KPWC0,5720,KPWC0,Pine River,US,MN,NaN,KPWC,46.7248,-94.3817,395.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,610.070897
215,KAWG0,5703,KAWG0,Washington,US,IA,NaN,KAWG,41.2750,-91.6752,230.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2014-01-01,2022-01-01,414.855204
483,KRCX0,5700,KRCX0,Ladysmith / Tony,US,WI,NaN,KRCX,45.4968,-91.0005,378.0,America/Chicago,2009-06-17,2022-09-22,2009-06-17,2022-04-24,2009-01-01,2022-01-01,426.865846
200,KAMN0,5695,KAMN0,Alma / Eugene,US,MI,NaN,KAMN,43.3221,-84.6879,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,89.732372
216,KAXA0,5685,KAXA0,Algona / Hobarton,US,IA,NaN,KAXA,43.0779,-94.2720,371.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,539.230693
464,KPHD0,5672,KPHD0,New Philadelphia / Schoenbrunn Estates,US,OH,NaN,KPHD,40.4702,-81.4199,273.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,171.040447
196,KAIG0,5631,KAIG0,Antigo,US,WI,NaN,KAIG,45.1542,-89.1107,464.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,336.317775
214,KAUM0,5623,KAUM0,Austin,US,MN,NaN,KAUM,43.6626,-92.9329,376.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,476.135931
486,KRHI0,5617,KRHI0,Rhinelander,US,WI,NaN,KRHI,45.6309,-89.4666,495.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,369.769549
477,KPVB0,5617,KPVB0,Platteville / Ipswich,US,WI,NaN,KPVB,42.6894,-90.4444,312.0,America/Chicago,2008-08-25,2022-09-22,2008-08-27,2022-04-24,2015-01-01,2022-01-01,343.805518
466,KPJC0,5603,KPJC0,Zelienople / Old Furnace,US,PA,NaN,KPJC,40.8020,-80.1609,274.0,America/New_York,2020-01-14,2022-09-22,2020-01-14,2022-04-12,2020-01-01,2021-01-01,210.195014
461,KPDC0,5601,KPDC0,Prairie Du Chien / Selchs Mobile Home Park,US,WI,NaN,KPDC,43.0193,-91.1237,201.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,379.982598
463,KPEX0,5598,KPEX0,Paynesville,US,MN,NaN,KPEX,45.3721,-94.7447,361.0,America/Chicago,2005-08-12,2022-09-22,2005-08-13,2022-04-24,2011-01-01,2022-01-01,590.821951
488,KRNH0,5590,KRNH0,New Richmond / Woodbridge Trailer Court,US,WI,NaN,KRNH,45.1478,-92.5392,304.0,America/Chicago,2006-01-01,2022-09-22,2006-01-02,2022-04-24,2007-01-01,2022-01-01,484.281723