### Clustering to reduce features

In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
from sklearn.metrics.cluster import silhouette_score

In [2]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
cln_pkl_loc = os.path.join(ROOT_DIR, 'data','cleanweathersmall.pkl')

In [3]:
df = pd.read_pickle(cln_pkl_loc)
df.groupby('station').count()

         time  temp  dwpt  rhum  prcp  wdir  wspd  pres
station
0CNUO    8784  8784  8784  8784  8784  8784  8784  8784
0CO7B    8784  8784  8784  8784  8784  8784  8784  8784
0FV1F    8784  8784  8784  8784  8784  8784  8784  8784
1J1PJ    8784  8784  8784  8784  8784  8784  8784  8784
1JWST    8784  8784  8784  8784  8784  8784  8784  8784
...       ...   ...   ...   ...   ...   ...   ...   ...
V5792    8784  8784  8784  8784  8784  8784  8784  8784
VMWBN    8784  8784  8784  8784  8784  8784  8784  8784
XM44W    8784  8784  8784  8784  8784  8784  8784  8784
ZFZUV    8784  8784  8784  8784  8784  8784  8784  8784
ZWC6W    8784  8784  8784  8784  8784  8784  8784  8784

[897 rows x 8 columns]

### 1. shifting time by 24 hours for Ann Arbor

In [4]:
df_AA=df[df['station']=="KARB0"] #spliting off AA so I don't adjust its time.

In [5]:
df_AA

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
2485872,KARB0,2021-10-15 00:00:00,17.8,16.7,93.0,0.0,230.0,5.4,1012.2
2485873,KARB0,2021-10-15 01:00:00,17.2,15.5,90.0,0.0,260.0,7.6,1012.7
2485874,KARB0,2021-10-15 02:00:00,16.1,14.5,90.0,0.0,0.0,0.0,1012.9
2485875,KARB0,2021-10-15 03:00:00,16.7,14.3,86.0,0.0,350.0,9.4,1012.5
2485876,KARB0,2021-10-15 04:00:00,16.1,15.0,93.0,0.0,220.0,7.6,1013.2
...,...,...,...,...,...,...,...,...,...
2494651,KARB0,2022-10-15 19:00:00,11.1,-0.1,46.0,0.0,210.0,24.1,1013.2
2494652,KARB0,2022-10-15 20:00:00,11.1,-0.1,46.0,0.0,220.0,24.1,1013.7
2494653,KARB0,2022-10-15 21:00:00,10.0,-0.5,48.0,0.0,220.0,20.5,1013.8
2494654,KARB0,2022-10-15 22:00:00,8.0,-1.3,52.0,0.0,220.0,9.0,1014.0
2494655,KARB0,2022-10-15 23:00:00,6.1,-1.1,60.0,0.0,190.0,7.6,1014.3

In [6]:
df_NOAA=df[df['station']!="KARB0"]

In [7]:
df_NOAA['time']=df_NOAA['time']+timedelta(hours=24) #adds 24

C:\Users\paull\AppData\Local\Temp\ipykernel_31720\4277429291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NOAA['time']=df_NOAA['time']+timedelta(hours=24) #adds 24

In [8]:
df_AA

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
2485872,KARB0,2021-10-15 00:00:00,17.8,16.7,93.0,0.0,230.0,5.4,1012.2
2485873,KARB0,2021-10-15 01:00:00,17.2,15.5,90.0,0.0,260.0,7.6,1012.7
2485874,KARB0,2021-10-15 02:00:00,16.1,14.5,90.0,0.0,0.0,0.0,1012.9
2485875,KARB0,2021-10-15 03:00:00,16.7,14.3,86.0,0.0,350.0,9.4,1012.5
2485876,KARB0,2021-10-15 04:00:00,16.1,15.0,93.0,0.0,220.0,7.6,1013.2
...,...,...,...,...,...,...,...,...,...
2494651,KARB0,2022-10-15 19:00:00,11.1,-0.1,46.0,0.0,210.0,24.1,1013.2
2494652,KARB0,2022-10-15 20:00:00,11.1,-0.1,46.0,0.0,220.0,24.1,1013.7
2494653,KARB0,2022-10-15 21:00:00,10.0,-0.5,48.0,0.0,220.0,20.5,1013.8
2494654,KARB0,2022-10-15 22:00:00,8.0,-1.3,52.0,0.0,220.0,9.0,1014.0
2494655,KARB0,2022-10-15 23:00:00,6.1,-1.1,60.0,0.0,190.0,7.6,1014.3

In [9]:
#removing first day and last day 
#(manual current but could be automated)
df_AA24HR=pd.concat([df_AA,df_NOAA])
df_AA24HR=df_AA24HR[(df_AA24HR['time']>='2021-10-16 00:00:00') & (df_AA24HR['time']<='2022-10-14 23:00:00')]

In [10]:
#droping extra columns that we have determined are not part of the model
df_AA24HR.drop(columns=['prcp','wdir','wspd'], inplace=True)

### 2. Clustering

In [11]:
#Scaling all values for kmeans - normalizing columns

scaler = StandardScaler() #read that standard scaler is probably best for knn vs min/max (first attempt)
scaler.fit(df_AA24HR.iloc[:,2:])
scaled=scaler.fit_transform(df_AA24HR.iloc[:,2:])
scaled_df=pd.DataFrame(scaled, columns = df_AA24HR.iloc[:2,2:].columns)
#normalized = preprocessing.normalize(df_AA24HR.iloc[:,2:9])
#normalized
#testknn=df_AA24HR[df_AA24HR['time']=='2022-01-02 1:00:00']
scaled_df=df_AA24HR.iloc[:,0:2].merge(scaled_df, left_index=True, right_index=True)


#testing
#scaled_df=scaled_df[scaled_df['time']<='2022-03-30 00:00:00']
scaled_df.dropna(inplace=True)

In [22]:
#creating a results DF
result_df=pd.DataFrame(scaled_df.station.unique(), columns=['station'])
result_df['total']=0
result_df['silhouette total']=0
result_df

    station  total  silhouette total
0     KARB0      0                 0
1     0CNUO      0                 0
2     0CO7B      0                 0
3     0FV1F      0                 0
4     1J1PJ      0                 0
..      ...    ...               ...
888   QHA0T      0                 0
889   SJZBK      0                 0
890   UJHR7      0                 0
891   UV7W2      0                 0
892   V5792      0                 0

[893 rows x 3 columns]

In [23]:
station_loc = os.path.join(ROOT_DIR, 'station_analysis','AAstation.csv') #station data to get distance for comparision
dfstations=pd.read_csv(station_loc)

In [24]:
scaled_df.groupby('station').count()

         time  temp  dwpt  rhum  pres
station
0CNUO    8736  8736  8736  8736  8736
0CO7B    8736  8736  8736  8736  8736
0FV1F    8736  8736  8736  8736  8736
1J1PJ    8736  8736  8736  8736  8736
1JWST    8736  8736  8736  8736  8736
...       ...   ...   ...   ...   ...
QHA0T    8736  8736  8736  8736  8736
SJZBK    8736  8736  8736  8736  8736
UJHR7    8736  8736  8736  8736  8736
UV7W2    8736  8736  8736  8736  8736
V5792     864   864   864   864   864

[893 rows x 5 columns]

In [26]:
#the actual kmeans
knn = KMeans(n_clusters=4) #need to tune this value and try other clustering (hierarchical) to find stable values
for t in tqdm(scaled_df.time.unique()): #looping through every hour
    dfhour=scaled_df[scaled_df['time']==t].copy()
    knndata=dfhour.iloc[:,2:]
    #print(t)
    knn.fit(knndata)
    y_kmeans = knn.predict(knndata)
    clusters=knn.labels_
    dfhour['cluster']=y_kmeans #finding clusters
    AAcluster=dfhour.loc[dfhour.station=='KARB0','cluster'].values[0] #finding cluster AA is in
    df_resulthr=dfhour[dfhour['cluster']==AAcluster].copy()
    df_resulthr['total']=1
    df_resulthr['silhouette total']=silhouette_score(knndata, clusters) #setting a threshold
    result_df=pd.concat([result_df, df_resulthr[['station','total','silhouette total']]]).groupby(['station']).sum().reset_index() #joining back to my results df.  I wasn't sure how else to do this.  
#result_df

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 8736/8736 [21:11<00:00,  6.87it/s]

In [28]:
result_df['silhouette station average']=result_df['silhouette total']/result_df['total']

In [30]:

    #result_df.sort_values(by='total',ascending=False).head(60)
result=pd.merge(result_df,dfstations,left_on='station', right_on='id').sort_values(by='total',ascending=False) #top 20 locations (top will be AA)
result.head(50)
#result.to_csv('kmeansclustering2.csv')

,station,total,silhouette total,silhouette station average,id,name,country,region,wmo,icao,...,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat
206,KARB0,8736,2638.021689,0.301971,KARB0,Ann Arbor / Pittsfield,US,MI,NaN,KARB,...,-83.7456,256.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,0.000000
416,KMML0,6413,1952.779165,0.304503,KMML0,Marshall,US,MN,NaN,KMML,...,-95.8244,361.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2008-01-01,2022-01-01,627.132888
325,KGAF0,5351,1633.464052,0.305263,KGAF0,Grafton,US,ND,NaN,KGAF,...,-97.3709,251.0,America/Chicago,2010-11-18,2022-09-22,2010-11-19,2022-04-24,2014-01-01,2022-01-01,787.526654
323,KFSW0,5326,1623.894513,0.304899,KFSW0,Fort Madison / Summit (Historical),US,IA,NaN,KFSW,...,-91.3268,220.0,America/Chicago,2006-01-03,2022-09-22,2006-01-05,2022-04-24,2014-01-01,2021-01-01,408.045768
208,KARV0,5310,1622.952282,0.305641,KARV0,Minocqua / Woodruff,US,WI,NaN,KARV,...,-89.7309,497.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2009-01-01,2022-01-01,392.465081
422,KMQB0,5308,1623.168940,0.305797,KMQB0,Macomb / Good Hope,US,IL,NaN,KMQB,...,-90.6524,215.0,America/Chicago,2006-02-01,2022-09-22,2006-02-15,2022-04-24,2012-01-01,2022-01-01,377.657133
418,KMNN0,5275,1611.187047,0.305438,KMNN0,Marion / Logan (Historical),US,OH,NaN,KMNN,...,-83.0635,303.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-21,2006-01-01,2022-01-01,116.402149
520,KTNU0,5272,1606.483724,0.304720,KTNU0,Newton / Coal Siding (Historical),US,IA,NaN,KTNU,...,-93.0217,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,479.185382
524,KTVC0,5263,1607.049025,0.305348,KTVC0,Traverse City / Treverse City [Misspelling] / ...,US,MI,NaN,KTVC,...,-85.5824,190.0,America/Detroit,1973-01-01,2022-09-22,1973-01-02,2022-04-24,1981-01-01,2022-01-01,196.855534
85,72420,5201,1592.025374,0.306100,72420,Mansfield / Amoy,US,OH,72420.0,KMFD,...,-82.5166,395.0,America/New_York,2005-01-01,2022-09-22,1948-08-01,2022-09-14,1948-01-01,2022-01-01,115.837645
330,KGHW0,5167,1583.517128,0.306467,KGHW0,Glenwood / Pine Hill Park,US,MN,NaN,KGHW,...,-95.3204,425.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-15,2006-01-01,2022-01-01,623.196988
523,KTTF0,5167,1582.084489,0.306190,KTTF0,Monroe / Patterson Gardens,US,MI,NaN,KTTF,...,-83.4347,188.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2006-01-01,2022-01-01,25.244797
204,KAOH0,5154,1568.936410,0.304411,KAOH0,Lima / Eastwood Estates,US,OH,NaN,KAOH,...,-84.0271,297.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,105.602314
526,KTYQ0,5141,1575.224464,0.306404,KTYQ0,Indianapolis / Jolietville,US,IN,NaN,KTYQ,...,-86.2514,281.0,America/Indiana/Indianapolis,2014-01-01,2022-09-22,2014-01-01,2022-04-25,2014-01-01,2022-01-01,199.936127
518,KTKC0,5123,1557.430674,0.304008,KTKC0,Tracy,US,MN,NaN,KTKC,...,-95.6073,408.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-01,2008-01-01,2022-01-01,614.213630
517,KTEW0,5012,1536.369173,0.306538,KTEW0,Mason,US,MI,NaN,KTEW,...,-84.4232,280.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2007-01-01,2022-01-01,41.971948
326,KGDB0,4982,1524.932317,0.306088,KGDB0,Granite Falls / Lorne,US,MN,NaN,KGDB,...,-95.5560,319.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-24,2006-01-01,2022-01-01,618.157832
324,KFXY0,4923,1511.748807,0.307079,KFXY0,Forest City,US,IA,NaN,KFXY,...,-93.6241,375.0,America/Chicago,2009-07-14,2022-09-22,2009-07-16,2022-04-24,2015-01-01,2022-01-01,507.231712
212,KATY0,4920,1500.658360,0.305012,KATY0,Watertown,US,SD,NaN,KATY,...,-97.1547,533.0,America/Chicago,1948-01-01,2022-09-22,1948-01-24,2022-04-24,1948-01-01,2022-01-01,697.344181
413,KMJQ0,4886,1500.298909,0.307061,KMJQ0,Jackson,US,MN,NaN,KMJQ,...,-94.9865,441.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,578.106956
414,KMKT0,4879,1485.696979,0.304509,KMKT0,Mankato / Knollwood Park,US,MN,NaN,KMKT,...,-93.9193,311.0,America/Menominee,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,531.437363
215,KAWG0,4859,1488.331393,0.306304,KAWG0,Washington,US,IA,NaN,KAWG,...,-91.6752,230.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2014-01-01,2022-01-01,414.855204
322,KFSE0,4842,1481.828554,0.306036,KFSE0,Fosston,US,MN,NaN,KFSE,...,-95.7735,390.0,America/Chicago,2006-01-01,2022-09-14,2006-01-01,2022-04-24,2007-01-01,2022-01-01,695.849626
528,KUCP0,4820,1478.605908,0.306765,KUCP0,New Castle / Parkstown,US,PA,NaN,KUCP,...,-80.4134,326.0,America/New_York,2006-05-01,2022-09-22,2006-05-02,2022-04-24,2008-01-01,2022-01-01,191.304730
419,KMOP0,4786,1467.020954,0.306523,KMOP0,Mt Pleasant / Broadway Acres Mobile Home Park,US,MI,NaN,KMOP,...,-84.7373,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,108.863740
201,KAMW0,4764,1453.598495,0.305121,KAMW0,Ames / Old Orchard Mobile Home Park,US,IA,NaN,KAMW,...,-93.6218,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,507.546487
202,KANQ0,4761,1455.217651,0.305654,KANQ0,Angola / Flint,US,IN,NaN,KANQ,...,-85.0835,303.0,America/Indiana/Indianapolis,2020-01-14,2022-09-22,2020-01-14,2022-04-24,2020-01-01,2022-01-01,79.841140
327,KGFK0,4733,1444.465837,0.305190,KGFK0,Grand Forks / Powell,US,ND,NaN,KGFK,...,-97.1738,257.0,America/Chicago,2010-08-01,2022-09-22,2010-08-01,2022-04-24,2010-01-01,2022-01-01,765.085329
320,KFPK0,4685,1427.262176,0.304645,KFPK0,Charlotte / Meadows Mobile Home Park,US,MI,NaN,KFPK,...,-84.8114,272.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,59.678156
200,KAMN0,4669,1420.293001,0.304196,KAMN0,Alma / Eugene,US,MI,NaN,KAMN,...,-84.6879,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,89.732372
415,KMLE0,4658,1420.246265,0.304905,KMLE0,Omaha / Millard,US,NE,NaN,KMLE,...,-96.1123,320.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,642.877659
319,KFOZ0,4635,1419.088342,0.306168,KFOZ0,Bigfork,US,MN,NaN,KFOZ,...,-93.6502,412.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,617.913480
210,KASX0,4628,1413.162635,0.305351,KASX0,Ashland / Ashland Junction,US,WI,NaN,KASX,...,-90.9190,252.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,463.723705
83,72019,4593,1405.456663,0.306000,72019,Munsing Lakeshore,US,MI,72019.0,KP53,...,-86.6500,187.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,323.315162
321,KFRM0,4592,1406.729066,0.306343,KFRM0,Fairmont / Fairmont Estates,US,MN,NaN,KFRM,...,-94.4156,354.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,549.611531
521,KTOB0,4559,1388.702644,0.304607,KTOB0,Dodge Center,US,MN,NaN,KTOB,...,-92.8315,398.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-03-30,2007-01-01,2022-01-01,475.588721
410,KMIC0,4540,1377.896037,0.303501,KMIC0,Minneapolis / Brooklyn Center,US,MN,NaN,KMIC,...,-93.3539,265.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,519.649109
214,KAUM0,4534,1388.270018,0.306191,KAUM0,Austin,US,MN,NaN,KAUM,...,-92.9329,376.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2007-01-01,2022-01-01,476.135931
525,KTWM0,4533,1385.316083,0.305607,KTWM0,Two Harbors / Waldo,US,MN,NaN,KTWM,...,-91.7452,327.0,America/Chicago,2006-01-01,2022-09-22,2006-01-03,2022-04-24,2007-01-01,2021-01-01,515.861691
533,KUSE0,4526,1388.980069,0.306889,KUSE0,Wauseon / Ottokee,US,OH,NaN,KUSE,...,-84.1272,238.0,America/New_York,2020-01-14,2022-09-22,2020-01-14,2022-04-25,2020-01-01,2022-01-01,46.650275
426,KMUT0,4523,1386.899946,0.306633,KMUT0,Muscatine / Fruitland,US,IA,NaN,KMUT,...,-91.1482,167.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,386.712501
421,KMPZ0,4481,1378.058351,0.307534,KMPZ0,Mount Pleasant / Woodside Mobile Estates,US,IA,NaN,KMPZ,...,-91.5111,223.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2015-01-01,2022-01-01,411.734003
530,KUGN0,4446,1362.988713,0.306565,KUGN0,Chicago / Bancroft Corners,US,IL,NaN,KUGN,...,-87.8679,222.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,211.571367
417,KMNM0,4438,1361.724948,0.306833,KMNM0,Menominee / Bayside Mobile Estates,US,MI,NaN,KMNM,...,-87.6384,191.0,America/Chicago,2005-01-01,2022-09-22,2005-01-01,2022-04-24,2005-01-01,2022-01-01,279.641553
199,KAKR0,4428,1351.780993,0.305280,KAKR0,Akron / Derby Downs,US,OH,NaN,KAKR,...,-81.4669,325.0,America/New_York,1999-08-31,2022-09-22,1999-09-02,2022-04-24,2005-01-01,2022-01-01,143.569088
328,KGGI0,4427,1351.849144,0.305365,KGGI0,Grinnel / Westfield,US,IA,NaN,KGGI,...,-92.7360,307.0,America/Chicago,2006-08-31,2022-09-22,2006-09-03,2022-04-24,2011-01-01,2022-01-01,464.213223
197,KAIO0,4424,1346.114902,0.304276,KAIO0,Atlantic,US,IA,NaN,KAIO,...,-95.0487,355.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2015-01-01,2022-01-01,585.888554
412,KMIW0,4406,1350.193633,0.306444,KMIW0,Marshalltown / Maulsby,US,IA,NaN,KMIW,...,-92.9178,297.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2021-01-01,470.786167
420,KMOX0,4379,1347.351115,0.307685,KMOX0,Morris,US,MN,NaN,KMOX,...,-95.9672,346.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,651.540962
218,KAXV0,4373,1338.577891,0.306101,KAXV0,Wapakoneta / New Knoxville,US,OH,NaN,KAXV,...,-84.2981,278.0,America/New_York,2020-01-14,2022-09-22,2020-01-14,2022-04-24,2020-01-01,2022-01-01,122.753787

In [18]:
knn = KMeans(n_clusters=5)
dfhour=scaled_df[scaled_df['time']=='2022-08-30 10:00:00'].copy()
knndata=dfhour.iloc[:,2:]
knn.fit(knndata)
clusters=knn.labels_
silhouette_score(knndata, clusters)

0.28295356741725497

In [21]:
result.head(26)

,station,total,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat
206,KARB0,8736,KARB0,Ann Arbor / Pittsfield,US,MI,NaN,KARB,42.2230,-83.7456,256.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,0.000000
416,KMML0,6411,KMML0,Marshall,US,MN,NaN,KMML,44.4517,-95.8244,361.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2008-01-01,2022-01-01,627.132888
325,KGAF0,5340,KGAF0,Grafton,US,ND,NaN,KGAF,48.4047,-97.3709,251.0,America/Chicago,2010-11-18,2022-09-22,2010-11-19,2022-04-24,2014-01-01,2022-01-01,787.526654
208,KARV0,5336,KARV0,Minocqua / Woodruff,US,WI,NaN,KARV,45.9279,-89.7309,497.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2009-01-01,2022-01-01,392.465081
323,KFSW0,5327,KFSW0,Fort Madison / Summit (Historical),US,IA,NaN,KFSW,40.6593,-91.3268,220.0,America/Chicago,2006-01-03,2022-09-22,2006-01-05,2022-04-24,2014-01-01,2021-01-01,408.045768
422,KMQB0,5301,KMQB0,Macomb / Good Hope,US,IL,NaN,KMQB,40.5201,-90.6524,215.0,America/Chicago,2006-02-01,2022-09-22,2006-02-15,2022-04-24,2012-01-01,2022-01-01,377.657133
418,KMNN0,5287,KMNN0,Marion / Logan (Historical),US,OH,NaN,KMNN,40.6163,-83.0635,303.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-21,2006-01-01,2022-01-01,116.402149
524,KTVC0,5267,KTVC0,Traverse City / Treverse City [Misspelling] / ...,US,MI,NaN,KTVC,44.7416,-85.5824,190.0,America/Detroit,1973-01-01,2022-09-22,1973-01-02,2022-04-24,1981-01-01,2022-01-01,196.855534
520,KTNU0,5266,KTNU0,Newton / Coal Siding (Historical),US,IA,NaN,KTNU,41.6744,-93.0217,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2011-01-01,2022-01-01,479.185382
85,72420,5221,72420,Mansfield / Amoy,US,OH,72420.0,KMFD,40.8214,-82.5166,395.0,America/New_York,2005-01-01,2022-09-22,1948-08-01,2022-09-14,1948-01-01,2022-01-01,115.837645
523,KTTF0,5182,KTTF0,Monroe / Patterson Gardens,US,MI,NaN,KTTF,41.9399,-83.4347,188.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2006-01-01,2022-01-01,25.244797
330,KGHW0,5165,KGHW0,Glenwood / Pine Hill Park,US,MN,NaN,KGHW,45.6439,-95.3204,425.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-15,2006-01-01,2022-01-01,623.196988
204,KAOH0,5154,KAOH0,Lima / Eastwood Estates,US,OH,NaN,KAOH,40.7075,-84.0271,297.0,America/New_York,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,105.602314
526,KTYQ0,5147,KTYQ0,Indianapolis / Jolietville,US,IN,NaN,KTYQ,40.0307,-86.2514,281.0,America/Indiana/Indianapolis,2014-01-01,2022-09-22,2014-01-01,2022-04-25,2014-01-01,2022-01-01,199.936127
518,KTKC0,5124,KTKC0,Tracy,US,MN,NaN,KTKC,44.2491,-95.6073,408.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-01,2008-01-01,2022-01-01,614.213630
517,KTEW0,5019,KTEW0,Mason,US,MI,NaN,KTEW,42.5658,-84.4232,280.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-25,2007-01-01,2022-01-01,41.971948
326,KGDB0,4983,KGDB0,Granite Falls / Lorne,US,MN,NaN,KGDB,44.7533,-95.5560,319.0,America/Chicago,2006-01-01,2022-09-22,2006-01-04,2022-04-24,2006-01-01,2022-01-01,618.157832
324,KFXY0,4939,KFXY0,Forest City,US,IA,NaN,KFXY,43.2348,-93.6241,375.0,America/Chicago,2009-07-14,2022-09-22,2009-07-16,2022-04-24,2015-01-01,2022-01-01,507.231712
212,KATY0,4914,KATY0,Watertown,US,SD,NaN,KATY,44.9140,-97.1547,533.0,America/Chicago,1948-01-01,2022-09-22,1948-01-24,2022-04-24,1948-01-01,2022-01-01,697.344181
413,KMJQ0,4888,KMJQ0,Jackson,US,MN,NaN,KMJQ,43.6500,-94.9865,441.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,578.106956
414,KMKT0,4874,KMKT0,Mankato / Knollwood Park,US,MN,NaN,KMKT,44.2228,-93.9193,311.0,America/Menominee,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,531.437363
215,KAWG0,4854,KAWG0,Washington,US,IA,NaN,KAWG,41.2750,-91.6752,230.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2014-01-01,2022-01-01,414.855204
322,KFSE0,4851,KFSE0,Fosston,US,MN,NaN,KFSE,47.5928,-95.7735,390.0,America/Chicago,2006-01-01,2022-09-14,2006-01-01,2022-04-24,2007-01-01,2022-01-01,695.849626
528,KUCP0,4820,KUCP0,New Castle / Parkstown,US,PA,NaN,KUCP,41.0254,-80.4134,326.0,America/New_York,2006-05-01,2022-09-22,2006-05-02,2022-04-24,2008-01-01,2022-01-01,191.304730
419,KMOP0,4784,KMOP0,Mt Pleasant / Broadway Acres Mobile Home Park,US,MI,NaN,KMOP,43.6216,-84.7373,230.0,America/Detroit,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,108.863740
201,KAMW0,4769,KAMW0,Ames / Old Orchard Mobile Home Park,US,IA,NaN,KAMW,41.9921,-93.6218,291.0,America/Chicago,2006-01-01,2022-09-22,2006-01-01,2022-04-24,2006-01-01,2022-01-01,507.546487

In [20]:
y

NameError: name 'y' is not defined