### Exploring DBSCAN, K-Means, & Agglomerative Clustering to find the optimum number of clusters

In [2]:
from pathlib import Path
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans, DBSCAN
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.cluster import silhouette_score

In [3]:
# need version 1.4.1 to get read_pickle method to work
pd.__version__

'1.4.2'

In [5]:
# get location from clean pickel file
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
cln_pkl_loc = os.path.join(ROOT_DIR, 'data','cleanweathersmall.pkl')
# load it onto df
df = pd.read_pickle(cln_pkl_loc)
# quick look at the df
df.sample(3)

,station,time,temp,dwpt,rhum,prcp,wdir,wspd,pres
846433,72650,2022-01-24 01:00:00,-9.8,-11.8,85.0,0.1,157.0,20.2,1012.3
2261520,KHZY0,2022-06-05 00:00:00,15.0,6.0,55.0,0.0,50.0,5.4,1016.2
1243198,KAHQ0,2022-05-05 22:00:00,11.8,11.8,100.0,8.2,40.0,16.6,1012.0

### Collapse All Features -- Use Average

## Apply DBSCAN Algorithm to create clusters

### Create clusters by grouping all stations by month and by hours based on datestamps

In [6]:
# loop thru all twelve months:
DBSCAN_list = [] # = pd.DataFrame()
for mth in range(1,13):
    # loop thru all 24 hours
    for hr in range(24):
        # query df based on month and time
        tmp_df = df.query(f'time.dt.hour == {hr} and time.dt.month == {mth}')
        # remove time variable from df
        tmp_df = tmp_df.loc[: , tmp_df.columns != 'time']
        # calculate mean of such datafrme
        tmp_df = tmp_df.groupby('station').mean()
        # drop null values
        tmp_df.dropna(inplace=True)
        # if we get a result, calculate DBSCAN clusters
        if not tmp_df.empty:
            # rescale the data to zero mean and unit variance
            scaler = StandardScaler()
            scaler.fit(tmp_df)
            X_scaled = scaler.transform(tmp_df)
            # create the DBSCAN object; use all processors available
            dbscan = DBSCAN(n_jobs=-1)
            # run the DBSCAN algorithm
            clusters = dbscan.fit_predict(X_scaled)
            # attache clusters to df
            tmp_df['DBSCAN_cluster'] = clusters
            # add month and hour as variables
            tmp_df['hr'], tmp_df['mth'] = hr, mth
            # calculate the silhouette score; only if they're not outliers
            tmp_df['silhouette_score'] = -1
            if set(clusters) != {-1}:
                tmp_df['silhouette_score'] = silhouette_score(X_scaled, clusters)                
            # collect all dfs
            DBSCAN_list.append(tmp_df)
            
# collect all DBSCAN dfs into one
DBSCAN_df = pd.concat(DBSCAN_list)
# reset the index; we can query the 'station' as a column much easier
DBSCAN_df.reset_index(inplace=True)

### Select Clusters Where AA Belongs to

In [7]:
# list the clusters where KARB0 shows up; exclude the -1 (outliers)
AA_Clusters = DBSCAN_df.query('station == "KARB0" and DBSCAN_cluster != -1')['DBSCAN_cluster'].unique()

In [8]:
AA_Clusters

array([4, 1, 3, 7, 2, 0, 6], dtype=int64)

In [10]:
# what stations make up these clusters?
AA_near_stations = DBSCAN_df.query('DBSCAN_cluster in @AA_Clusters and silhouette_score > 0')['station'].unique()
len(AA_near_stations), AA_near_stations

(23,
 array(['6URQB', 'DCBG8', 'HEZQT', 'KFGN0', 'MUKMN', 'NCUQS', '4DUJO',
        '9H92X', 'ATA0X', 'CTGT0', 'MAU7O', '71273', '71667', 'CXQT0',
        'L1YUU', 'LII7V', '71147', '71564', '71962', '8ZB0I', 'SJZBK',
        '71849', 'GCHAU'], dtype=object))

In [8]:
# export df with clusters; we'll use these results for K-Means
#DBSCAN_df.to_pickle('DBSCAN_clusters.pkl')

In [11]:
station_loc = os.path.join(ROOT_DIR, 'station_analysis','AAstation.csv') #station data to get distance for comparision
dfstations=pd.read_csv(station_loc)

In [16]:
dfstations

,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat
0,0CNUO,Rawson Lake,CA,ON,NaN,NaN,49.6500,-93.7200,358.0,America/Rainy_River,NaN,NaN,2000-01-01,2022-08-10,2000-01-01,2022-01-01,701.767667
1,0CO7B,Kingsville Moe,CA,ON,NaN,NaN,42.0400,-82.6700,200.0,America/Toronto,NaN,NaN,2000-01-01,2022-09-17,2000-01-01,2021-01-01,56.683564
2,0FV1F,Tillsonburg Wwtp,CA,ON,NaN,NaN,42.8600,-80.7200,213.0,America/Toronto,NaN,NaN,2000-01-01,2022-09-18,2000-01-01,2021-01-01,160.560157
3,13178,Jamestown,CA,ON,NaN,NaN,43.8000,-81.1800,319.0,America/Toronto,NaN,NaN,2006-04-01,2015-07-04,2006-01-01,2015-01-01,169.519759
4,1J1PJ,Gore Bay,CA,ON,71956.0,NaN,45.8800,-82.5700,189.0,America/Nipigon,2020-01-01,2022-09-21,2010-07-09,2022-09-18,2010-01-01,2022-01-01,259.177215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,ZFZUV,Winnipeg Intl Airport,CA,MB,NaN,NaN,49.9100,-97.2400,239.0,America/Winnipeg,2020-01-01,2022-09-21,2018-10-30,2022-09-19,2018-01-01,2021-01-01,836.102103
628,ZNWZW,Columbus Municipal Airport,US,NE,NaN,KOLU,41.4500,-97.3333,440.0,America/Chicago,2022-04-23,2022-09-22,2022-04-24,2022-04-24,NaN,NaN,702.574295
629,ZUQJS,Ephraim-Gibraltar Airport,US,WI,NaN,K3D2,45.1357,-87.1881,234.0,America/Menominee,2022-05-06,2022-09-22,NaN,NaN,NaN,NaN,264.877147
630,ZWC6W,Kapuskasing Airport,CA,ON,NaN,NaN,49.4100,-82.4700,226.0,America/Toronto,2020-01-01,2022-09-21,2018-10-29,2022-09-19,2018-01-01,2022-01-01,500.149893
631,ZYITU,Selfridge Air National Guard Base,US,MI,NaN,KMTC,42.6046,-82.8353,177.0,America/Detroit,2022-04-23,2022-09-22,2022-04-24,2022-04-25,NaN,NaN,53.491878

In [17]:
dfstations.merge(pd.DataFrame(AA_near_stations,columns=['station']),how='inner', left_on='id',right_on='station')

,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,milesfromstat,station
0,4DUJO,Fergus Shand Dam,CA,ON,NaN,NaN,43.7300,-80.3300,418.0,America/Toronto,NaN,NaN,2000-01-01,2022-09-18,2000-01-01,2022-01-01,201.949443,4DUJO
1,6URQB,Portage La Prairie CDA,CA,MB,NaN,NaN,49.9500,-98.2700,259.0,America/Winnipeg,NaN,NaN,2000-01-01,2022-09-16,2000-01-01,2022-01-01,876.102820,6URQB
2,71147,Carman U Of M CS,CA,MB,71147.0,CWNK,49.5000,-98.0300,268.0,America/Winnipeg,1996-11-01,2022-09-22,1995-06-27,2022-09-18,1995-01-01,2022-01-01,850.726151,71147
3,71273,Belle River,CA,SK,NaN,KWDD,42.3000,-82.7000,184.0,America/Toronto,1994-12-01,2022-08-23,1995-01-07,2022-09-18,2009-01-01,2022-01-01,53.870113,71273
4,71564,Morden CDA CS,CA,MB,71564.0,CXMD,49.1900,-98.0800,298.0,America/Winnipeg,2001-09-16,2022-09-22,1999-12-01,2022-09-18,1999-01-01,2022-01-01,841.929778,71564
5,71667,Thunder Bay CS,CA,ON,71667.0,CZTB,48.3700,-89.3300,199.0,America/Thunder_Bay,2005-01-01,2022-09-22,2003-10-01,2022-09-15,2003-01-01,2022-01-01,503.946973,71667
6,71849,Winnipeg Airport CS,CA,MB,71849.0,NaN,49.9200,-97.2500,239.0,America/Winnipeg,2001-09-16,2022-09-20,1996-10-01,2022-09-17,1996-01-01,2022-01-01,836.860088,71849
7,71962,Fort Frances RCS,CA,ON,71962.0,CTAG,48.6500,-93.4400,342.0,America/Winnipeg,2008-04-29,2022-09-20,2007-10-08,2022-09-18,2007-01-01,2022-01-01,646.477980,71962
8,8ZB0I,Kleefeld (mafri),CA,MB,71646.0,NaN,49.5200,-96.9000,246.0,America/Winnipeg,2020-01-01,2022-09-21,2014-09-17,2022-09-19,2014-01-01,2022-01-01,808.417487,8ZB0I
9,9H92X,Fergus Moe,CA,ON,NaN,NaN,43.7000,-80.3800,396.0,America/Toronto,NaN,NaN,2000-01-01,2022-08-15,2000-01-01,2019-01-01,198.747756,9H92X
10,ATA0X,Roseville,CA,ON,NaN,NaN,43.3500,-80.4700,328.0,America/Toronto,NaN,NaN,2000-01-01,2022-09-17,2000-01-01,2022-01-01,183.794469,ATA0X
11,CTGT0,Guelph / University of Guelph,CA,ON,NaN,CTGT,43.5500,-80.2167,325.0,America/Toronto,2007-02-28,2022-03-24,2007-04-20,2022-03-05,2008-01-01,2021-01-01,201.166051,CTGT0
12,CXQT0,Thunder Bay,CA,ON,NaN,CXQT,48.4333,-89.2167,190.0,America/Thunder_Bay,2020-04-20,2022-05-18,2020-04-21,2021-05-12,NaN,NaN,504.626874,CXQT0
13,DCBG8,Winnipeg Charleswood 2,CA,MB,NaN,NaN,49.8500,-97.2700,238.0,America/Winnipeg,NaN,NaN,2004-10-27,2022-06-01,2004-01-01,2022-01-01,834.885861,DCBG8
14,GCHAU,Schanzenfeld,CA,MB,NaN,NaN,49.1300,-97.9500,277.0,America/Winnipeg,NaN,NaN,2000-01-01,2022-09-18,2000-01-01,2021-01-01,834.760583,GCHAU
15,HEZQT,Baldur,CA,MB,NaN,NaN,49.2800,-99.2900,450.0,America/Winnipeg,NaN,NaN,2000-01-01,2022-08-13,2000-01-01,2021-01-01,893.086638,HEZQT
16,KFGN0,Flag Island / Penasse,US,MN,NaN,KFGN,49.3183,-94.9028,329.0,America/Winnipeg,2006-01-01,2022-06-06,2006-01-01,2022-04-24,2011-01-01,2022-01-01,727.248825,KFGN0
17,L1YUU,Thunder Bay Burwood,CA,ON,NaN,NaN,48.4100,-89.2800,200.0,America/Thunder_Bay,NaN,NaN,2005-11-01,2020-03-25,2005-01-01,2014-01-01,504.922975,L1YUU
18,LII7V,Hazelwood,CA,ON,NaN,NaN,48.4700,-89.2700,322.0,America/Thunder_Bay,NaN,NaN,2016-01-04,2022-09-20,2016-01-01,2022-01-01,508.097970,LII7V
19,MAU7O,Mono Centre,CA,ON,71098.0,NaN,44.0300,-80.0200,436.0,America/Toronto,2020-01-01,2022-09-21,2013-11-19,2022-09-19,2013-01-01,2022-01-01,225.897607,MAU7O
20,MUKMN,Oakbank,CA,MB,NaN,NaN,49.9300,-96.8500,246.0,America/Winnipeg,NaN,NaN,2000-01-01,2022-09-14,2000-01-01,2022-01-01,822.598171,MUKMN
21,NCUQS,Portage Romance,CA,MB,NaN,NaN,49.9800,-98.3000,262.0,America/Winnipeg,NaN,NaN,2007-01-01,2022-09-17,2007-01-01,2022-01-01,878.335736,NCUQS
22,SJZBK,Holland,CA,MB,NaN,NaN,49.6100,-98.8800,375.0,America/Winnipeg,NaN,NaN,2000-01-01,2022-09-12,2000-01-01,2009-01-01,887.610764,SJZBK