In [3]:
import pandas as pd
import os
from datetime import date, timedelta
import datetime
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from statsmodels.tsa.statespace.sarimax import SARIMAX
# grid search sarima hyperparameters for monthly mean temp dataset
from math import sqrt
from multiprocessing import cpu_count
from joblib import Parallel
from joblib import delayed
from warnings import catch_warnings
from warnings import filterwarnings
from sklearn.metrics import mean_squared_error

In [4]:
ROOT_DIR = os.path.realpath(os.path.join(os.getcwd(), '..'))
cln_pkl_loc = os.path.join(ROOT_DIR, 'data','AAcleaned.pkl')

In [5]:
df=pd.read_pickle(cln_pkl_loc)

In [9]:
df.head()

,temp,dwpt,rhum,prcp,wdir,wspd,pres,NaNcount,NaNmax
time,,,,,,,,,
2006-01-01 00:00:00,1.0,-1.1,86.0,NaN,240.0,14.8,NaN,0,0.0
2006-01-01 01:00:00,1.1,-0.1,92.0,0.0,240.0,14.8,1009.0,0,0.0
2006-01-01 02:00:00,0.6,0.0,96.0,NaN,250.0,13.0,1009.5,0,0.0
2006-01-01 03:00:00,1.1,-0.1,92.0,NaN,250.0,13.0,1009.6,0,0.0
2006-01-01 04:00:00,1.1,-0.7,88.0,NaN,250.0,14.8,1010.5,0,0.0

In [35]:
time_range = pd.date_range('2022-09-01 00:00:00', '2022-09-29 23:00:00', freq='H') ##creating time range
result_df=pd.DataFrame(time_range, columns=['time'])
test['temp']=8
test.at[0,'temp']=5
test.head()

                 time  temp
0 2022-09-01 00:00:00     5
1 2022-09-01 01:00:00     8
2 2022-09-01 02:00:00     8
3 2022-09-01 03:00:00     8
4 2022-09-01 04:00:00     8

In [27]:
l=[]
for ind in time_range:
    l.append(ind)
df.loc[:l[0]]

,temp,dwpt,rhum,prcp,wdir,wspd,pres,NaNcount,NaNmax
time,,,,,,,,,
2006-01-01 00:00:00,1.0,-1.1,86.0,NaN,240.0,14.8,NaN,0,0.0
2006-01-01 01:00:00,1.1,-0.1,92.0,0.0,240.0,14.8,1009.0,0,0.0
2006-01-01 02:00:00,0.6,0.0,96.0,NaN,250.0,13.0,1009.5,0,0.0
2006-01-01 03:00:00,1.1,-0.1,92.0,NaN,250.0,13.0,1009.6,0,0.0
2006-01-01 04:00:00,1.1,-0.7,88.0,NaN,250.0,14.8,1010.5,0,0.0
...,...,...,...,...,...,...,...,...,...
2022-08-31 20:00:00,27.2,14.6,46.0,0.0,290.0,24.1,1013.0,0,0.0
2022-08-31 21:00:00,27.2,14.6,46.0,0.0,290.0,20.5,1012.8,0,0.0
2022-08-31 22:00:00,26.1,13.2,45.0,0.0,290.0,20.5,1012.7,0,0.0
2022-08-31 23:00:00,25.6,12.8,45.0,0.0,290.0,20.5,1013.0,0,0.0
2022-09-01 00:00:00,22.8,12.7,53.0,0.0,280.0,18.4,1013.2,0,0.0

In [44]:
def sarima_forecast(history, config,delta):
    order, sorder, trend = config
    # define model
    model = SARIMAX(history, order=order, seasonal_order=sorder, trend=trend, enforce_stationarity=False, enforce_invertibility=False)
    # fit model
    model_fit = model.fit(disp=False)
    # make one step forecast
    #yhat=history.iloc[-1:].index[0]
    start_predict=history.iloc[-1:].index[0]+timedelta(hours=1)
    end_predict=start_predict+timedelta(hours=delta-1)
    yhat = model_fit.predict(start_predict, end_predict)
    return yhat
 
def loopsarima(df,time_range, col): #function takes in a DF(with timediff column) and how far back you want to adjust, creates rows for all missing values and adds them in
    for ind in df.index:
        #print(df.loc[ind]['NaNmax'])
        if df.loc[ind]['NaNmax']==0:
            None
        else:
            hs=df.loc[ind].name-timedelta(days=30) #building the SARIMAX back 30 days for every missing value
            minind=df.index.min()
            if minind>hs: #checks to see if value is in the first 30 days, uses first value if so
                hs=minind
            df_hs=df.loc[hs:ind]
            config=[(1,0,0),(0,1,0,24),'n'] #found from the first SARIMAX all possible scans
            #config=[(2, 0, 2), (0, 1, 0, 24), 't']
            try:
            # never show warnings when grid searching, too noisy
                with catch_warnings():
                    filterwarnings("ignore")
                    yhat=sarima_forecast(df_hs[col],config,int(df.loc[ind]['NaNmax']))
            except:
                error = None
            yhat.rename('temp',inplace=True)
            yhat = pd.DataFrame(yhat)
            df.at[ind,'NaNmax']=0 #changing all values to 0 so SARIMA function isn't called for each value
            yhat['NaNmax']=0
            df.update(yhat)
    return df

#df2=loopsarima(df, 'temp')
#sarima_forecast(df.loc['2021-08-01 00:00:00':'2022-08-31 23:00:00']['temp'],[(2, 1, 1), (1, 1, 2, 24), 'n'],24)

In [43]:
def buildfuture24(df, time_range, col, delta):
    df_timerange=pd.DataFrame(time_range, columns=['time'])
    df_timerange[col]=np.nan
    df_timerange.set_index('time', inplace=True)
    for ind in df_timerange.index:
        
    return df_timerange.head()

test=buildfuture24(df, time_range, 'temp', 24)
test.head()

                     temp
time
2022-09-01 00:00:00   NaN
2022-09-01 01:00:00   NaN
2022-09-01 02:00:00   NaN
2022-09-01 03:00:00   NaN
2022-09-01 04:00:00   NaN

In [1]:
Model[[(2, 0, 1), (1, 1, 2, 24), 't']] 1.096, Model[[(1, 0, 0), (1, 1, 2, 24), 'c']] 1.099, Model[[(1, 1, 0), (1, 1, 2, 24), 'n']] 1.093, Model[[(0, 1, 0), (1, 1, 2, 24), 'c']] 1.093
Model[[(2, 1, 1), (1, 1, 2, 24), 'n']] 1.086

SyntaxError: invalid syntax (1216090140.py, line 1)